    <header>
        <h4>Chatea con nosotros</h4>
    </header>
    <section *ngIf="!currentUser">
        <app-chat-name-popup (onUserNameChange)="handleName($event)"></app-chat-name-popup>
    </section>
    <section *ngIf="currentUser" class="chat-holder">
        <app-chat-window [selectedUser]="selectedUser" [messages]="messages" (onMessage)="handleMessage($event)"></app-chat-window>
        <!-- <aside>
            <users-list [usersList]="usersList" (onUserSelect)="handleUserSelect($event)"></users-list>
        </aside> -->
    </section>